webpayadminservice-client/src/main/resources/AdminService.xsd13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Responses" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Responses">
    <xs:import schemaLocation="AdminService.xsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service"/>
    <xs:import schemaLocation="AdminService.xsd15.xsd" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types"/>
    <xs:complexType name="GetPendingReasonsResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q1:BasicResponse" 
                xmlns:q1="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="PendingReasons" nillable="true" type="q1:ArrayOfPendingReason"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetPendingReasonsResponse" nillable="true" type="tns:GetPendingReasonsResponse"/>
    <xs:complexType name="SearchAccountCreditsResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q2:BasicResponse" 
                xmlns:q2="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element name="AccountCreditListItems" nillable="true" type="q2:ArrayOfAccountCreditListItem"/>
                    <xs:element name="ResultCount" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SearchAccountCreditsResponse" nillable="true" type="tns:SearchAccountCreditsResponse"/>
    <xs:complexType name="GetAccountCreditsResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q3:BasicResponse" 
                xmlns:q3="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="AccountCredits" nillable="true" type="q3:ArrayOfAccountCreditItem"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetAccountCreditsResponse" nillable="true" type="tns:GetAccountCreditsResponse"/>
    <xs:complexType name="CancelAccountCreditAmountResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q4:BasicResponse" 
                xmlns:q4="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CancelAccountCreditAmountResponse" nillable="true" type="tns:CancelAccountCreditAmountResponse"/>
    <xs:complexType name="CancelAccountCreditRowsResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q5:BasicResponse" 
                xmlns:q5="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CancelAccountCreditRowsResponse" nillable="true" type="tns:CancelAccountCreditRowsResponse"/>
    <xs:complexType name="GetClientIdResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q6:BasicResponse" 
                xmlns:q6="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ClientId" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetClientIdResponse" nillable="true" type="tns:GetClientIdResponse"/>
    <xs:complexType name="AccountCreditRegressReportResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q7:BasicResponse" 
                xmlns:q7="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Rows" nillable="true" type="q7:ArrayOfAccountCreditRegressReportDataRow"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AccountCreditRegressReportResponse" nillable="true" type="tns:AccountCreditRegressReportResponse"/>
    <xs:complexType name="AccountingAgreementType25ReportResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q8:BasicResponse" 
                xmlns:q8="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Rows" nillable="true" type="q8:ArrayOfAccountingAgreementType25ReportDataRow"/>
                    <xs:element minOccurs="0" name="Summations" nillable="true" type="q8:ArrayOfAccountingAgreementType25Summation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AccountingAgreementType25ReportResponse" nillable="true" type="tns:AccountingAgreementType25ReportResponse"/>
    <xs:complexType name="GetClientsByIdentityAccountResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q9:BasicResponse" 
                xmlns:q9="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Clients" nillable="true" type="q9:ArrayOfClientData"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetClientsByIdentityAccountResponse" nillable="true" type="tns:GetClientsByIdentityAccountResponse"/>
    <xs:complexType name="GetInvoicesPaidToClientForReportResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q10:BasicResponse" 
                xmlns:q10="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Invoices" nillable="true" type="q11:ArrayOfInvoicePaidToClientRow" 
                        xmlns:q11="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetInvoicesPaidToClientForReportResponse" nillable="true" type="tns:GetInvoicesPaidToClientForReportResponse"/>
    <xs:complexType name="GetDebtInvoicesPaidToClientForReportResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q12:BasicResponse" 
                xmlns:q12="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Invoices" nillable="true" type="q13:ArrayOfInvoicePaidToClientRow" 
                        xmlns:q13="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetDebtInvoicesPaidToClientForReportResponse" nillable="true" type="tns:GetDebtInvoicesPaidToClientForReportResponse"/>
    <xs:complexType name="GetKickbackReportResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="q14:BasicResponse" 
                xmlns:q14="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Kickbacks" nillable="true" type="q14:ArrayOfKickbackReportRow"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetKickbackReportResponse" nillable="true" type="tns:GetKickbackReportResponse"/>
</xs:schema>